<mat-toolbar>
  <div class="example-button-container">
    <button mat-mini-fab class="example-icon first" aria-label="Example icon-button">
    </button>
  </div>
  <div class="example-button-container">
    <button mat-mini-fab class="example-icon second" aria-label="Example icon-button">
    </button>
  </div>
  <div class="example-button-container">
    <button mat-mini-fab class="example-icon third" aria-label="Example icon-button">
    </button>
  </div>
</mat-toolbar>

<div class="second-part">
  <div class="left-side">
    <h1>WOOKIE</h1>
    <h1>MOVIES</h1>
  </div>
  <div class="right-side">
    <form [formGroup]="search">
      <mat-form-field>
        <input matInput
          type="text"
          formControlName="wookieSearch"
          (keyup.enter)="onSearch()"
        >
      </mat-form-field>
    </form>
    <mat-icon>search</mat-icon>
  </div>
</div>
<hr>
