mat-toolbar {
  background-color: #1f2e78;
  height: 60px;
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 50px;
    button {
      width: 83%;
      height: 30px;
      border-radius: 55%;
      border: none;
    }
    .first {
      background-color: red;
    }
    .second {
      background-color: #f7b500;
    }
    .third {
      background-color: #6dd400;
    }
  }
}

.second-part {
  display: inline-flex;
  width: 100%;
  .left-side, .right-side {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 10px;
    h1 {
      font: 400 45px/41px Roboto, "Helvetica Neue", sans-serif;
      letter-spacing: normal;
      margin: 0px 30px 0px;
    }
  }
  .right-side {
    display: inline-flex;
    direction: rtl;
    margin-top: 30px;
    mat-icon {
      font-size: 45px;
      height: 30px;
      width: 30px;
      transform: scaleX(-1);
    }
    form  {
      margin-right: 30px;
      mat-form-field {
        height: 33px;
        width: 250px;
        border: solid 2px #000000;
      }
      ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        height: 33px;
      }
    }
  }
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #000000;
  height: 3px;
  border: none;
  border-bottom: solid;
}

@media screen and ( min-width: 481px ) and ( max-width: 767px ) {
  .second-part {
    display: block;
    .left-side, .right-side {
      width: 100%;
    }
    .right-side {
      margin-top: 0px;
      form {
        width: 85%;
        margin-right: 30px;
        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 480px) {
  .second-part {
    display: block;
    .left-side, .right-side {
      width: 100%;
    }
    .right-side {
      margin-top: 0px;
      form {
        width: 77%;
        margin-right: 30px;
        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
