.container {
  display: inline-flex;
  margin: 30px;
  .first-side {
    padding-right: 25px;
  }
  .second-side {
    h3 {
      p {
        display: inline;
      }
    }
  }
}

@media ( min-width: 481px ) and ( max-width: 767px ) {
  .container {
    display: block;
  }
}

@media ( min-width: 250px ) and ( max-width: 480px ) {
  .container {
    display: block;
  }
}
